<div class="flex flex-col gap-8 pt-4 h-full">

    <div class="flex flex-col gap-4">
        <p class="text-2xl font-semibold">Informe o CPF do futuro cooperado(a)</p>
        <p class="max-w-2xl text-sm text-gray-500">
            Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.
            Digite apenas os números (sem pontos ou traços).
        </p>
    </div>

    <div class="flex items-center gap-4">
        <input [(ngModel)]="cpf" type="text" placeholder="Digite o CPF"
            class="border border-gray-300 rounded-md p-2 w-1/2">
        <button class="bg-[#155c7d] w-60 h-12 rounded-md flex items-center justify-center cursor-pointer"
            (click)="searchCooperator()" *ngIf="!loading">
            <p class="text-lg text-white">Consultar por CPF</p>
        </button>
        <loading-circle [loading]="loading" *ngIf="loading"></loading-circle>
    </div>

    <div class="flex items-start gap-4" *ngIf="coperator">
        <app-card>
            <div>
                <h2 card-title class="font-bold">Situação Cadastral do CPF</h2>
                <p class="text-sm text-gray-500">Consulta na Receita Federal</p>
            </div>

            <div class="flex gap-4 items-center mt-4">
                <i class='bx bx-user text-2xl'></i>
                <div>
                    <p class="text-gray-400 text-sm"><strong>Nome:</strong></p>
                    <p class="text-lg">{{ coperator.name }}</p>
                </div>
            </div>

            <div class="flex gap-4 items-center">
                <i class='bx bx-check-circle text-2xl text-green-600'></i>
                <div>
                    <p class="text-gray-400 text-sm"><strong>Situação do CPF:</strong></p>
                    <p class="text-lg">{{ coperator.status }}</p>
                </div>
            </div>
        </app-card>

        <app-account-card
            *ngFor="let acc of coperator.account"
            [type]="acc.type"
            [institution]="acc.institution"
            [number]="acc.number"
            [canDuplicate]="acc.canDuplicate">
        </app-account-card>

    </div>
</div>