.loader-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    &.mini-size .loader {
        width: 25px;
        height: 25px;
        border-width: 2px;
    }
}

.loader {
    width: 50px;
    height: 50px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-left-color: red, purple;
    animation: spin 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #155c7d transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}